body{
                margin:0px;padding: 0px; 
                background: undefined
            }
            .all{ 
                width: undefined;
                margin: 0 auto;
                height: undefined;
                position: relative;
                background: undefined;
                
            }
            .box{
                border: 1px dashed #8bc34a;
            }
    