body{
                margin:0px;padding: 0px; 
                background: #691616
            }
            .all{ 
                width: 100%;
                margin: 0 auto;
                height: 100%;
                background: #669976;
            }
    