body{
                margin:0px;padding: 0px; 
                background: #AAAAAA
            }
            .all{ 
                width: 80%;
                margin: 0 auto;
                height: 100%;
                position: 'relative';
                background: #551D1D;
                
            }
            .box{
                border: 1px dashed #8bc34a;
            }
    