.draw{
    width: 30px;
    height: 30px;
    border: 1px dashed black;
    // background: black;
    // margin-top: 30px;
    cursor: pointer;
}
.allcomponent{
    .draw{
        margin:  0 auto;
        margin-top: 15px;
    }
}

.trueBody{
    .draw{
        width: 30px;
        height: 30px;
        background: none;
        border: 1px dashed grey;
        border-radius: 0px;
        .before{
            width: 12px;
            height: 12px;
            border-top: 1px solid black;
            position: absolute;
            bottom: -2px;
            right: -2px;
            transform: rotate(-45deg);
            &:after{
                content: '';
                width: 4px;
                height: 4px;
                border-top: 1px solid black;
                position: absolute;
                bottom: 4px;
                right: 4px;
            }
        }
    }
}

.hidden{
    .allcomponent{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
}